.grid-container{
    display: grid;
    grid-template-columns:
      1fr
      min(57em, 100%)
      1fr;
}

.grid-container > * {
    grid-column: 2 / 3;
}

.grid-container-index{
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}


.header-title{
    border-bottom: solid 1px black;
}

.post-thumbnail{
    width: 100%;
}